#add-button {
    background-color: #474747;
    color: #fffef5;
    border-radius: 5px;
}

.menu {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 100px;
}

.menu-element {
    width: 100px;
    background-color: #474747;
    color: #fffef5;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    position:relative;
    left: 5px;
}

.menu-button {
    width: 100px;
    background-color: #474747;
    color: #fffef5;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

html {
    background-color: #242424;
    color: #969696
}

#canWrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#myCan {
    grid-column: 2 / 3;
}

#object-div {
    justify-self: start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#material-div {
    position: relative;
    left: 5px;
}

#interaction-div {
    position: relative;
    left: 5px;
}

#edit-div {
    justify-self: start;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#settings-div {
    justify-self: end;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#mode-selector {
    justify-self: end;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #474747;
    border-radius: 10px;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
   appearance: none;
   background: transparent;
   margin-top: 0px; /* Centers thumb on the track */
   background-color: #fffef5;
   border-radius: 10px;
   height: 10px;
   width: 1rem;    
}